.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("./images/homebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.app img {
  margin-top: 60px;
}

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  padding: 60px 0;
}

.call-to-action {
  border-radius: 16px;
  border: 1px solid #875C74;
  background-color: #F85E00;
  width: 200px;
  height: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.button {
  border: none;
  width: 200px;
  height: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #343333;
  background-color: transparent;
  cursor: pointer;
}
.filter-btn {
  border-radius: 16px;
  border: 1px solid #875C74;
}
input::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

.bi {
  width: 1em;
  height: 2em;
  font-size: 25px;
  cursor: pointer;
}
.bi-cart, .bi-person-circle {
  padding: 5px;
  margin: 7px;
}

.navbar input {
  padding: 0px 12px;
  margin: 0px 10px;
  background-color: #C4C4C4;
  opacity: 24%;
  border: none;
  border-radius: 16px;
  width: 200px;
  height: 30px;
}
.navbar {
  background: transparent;
}
/* .navbar-light {
  background-image: url("./images/homebg.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

#offcanvasNavbar {
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  background-image: url("./images/menubg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
#offcanvasNavbar a {
  color: black;
  font-size: 20px;
  font-weight: 400;
}
#offcanvasNavbar img {
  margin-right: 20px;
}
#navToggle:focus, #navToggle:active {
  outline: none;
  box-shadow: none;
}
#nav-dropdown::after {
  content: none;
}
.dropdown-menu.show {
  border: none;
  background-color: transparent;
}
.navigation img {
  margin-bottom: 20px;
}
/* sign up page */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-form input {
  border-radius: 10px;
}
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.location-dropdown {
width: 239px;
height: auto;
background: #FFFFFF;
background-color: white;
border: 0.5px solid #343333;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 30px 30px;
font-family: 'Josefin Sans', sans-serif;
}
#dropdown-basic {
background: #FFFFFF;
border: 1px solid #56638A;
box-sizing: border-box;
border-radius: 10px;
min-width: 240px;
min-height: 40px;
}
#dropdown-basic::before {
  content: "";
  background-image:url('./images/icons/dropdown.png');
  background-size: 100% 100%;
  height: 10px;
  width: 15px;
  float: left;
}
#dropdown-basic:focus{
  background-color: #56638A;
}
#dropdown-basic::after {
  content: none;
}
.profile-icon {
  background-color: #63A088;
  border-radius: 50%;
  min-height: 208px;
  min-width: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .donate-bg {
  background: rgba(135, 92, 116, 0.1);
  border-radius: 50%;
  width: 387px;
  min-height: 401px;
  margin: auto;
} */
.donate-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.category-container {
  display: flex;

}